* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body.dark {
    background-color: rgb(73, 70, 70);
    color: aliceblue;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-top: 50px;
}

p {
    margin-top: 20px;
}

button {
    position: relative;
    left: 45%;
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}